:root{
    --color: #e9ebee;
}
body{
    background-color: var(--color, white);
}
.main{
    width: 600px;
    margin: 20px auto;
}
img{
    max-width: 100%;
    display: block;
    margin: inherit;
    box-shadow: 2px 2px 5px;
    border-radius: 10px;
}
.price{
    text-align: center;
    background-color: inherit;
}
.desc{
    height: 200px;
}
.comment{
    margin: 10px auto;
    background-color: var(--white, white);
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px;
}
