{% extends "auctions/layout.html" %}

{% load static %}

{% block title %} Categories {% endblock %}

{% block head %}
    <style>
        .main{
            max-width: 700px;
            margin: 0px auto;
        }
    </style>
{% endblock %}

{% block body %}
        <h2>{{pick}}</h2>

    <!-- TODO -->
        <section class="main"> 
            {% for category, length in categories %}
                <div class="row">   
                    <div class="col-sm"><a href="{% url 'category' category.category %}">{{category.category}}</a></div>
                    <div class="col-sm">{{length}}</div>
                </div>
            {% empty %}
                No Active Categories
            {% endfor %}
        </section>
    
{% endblock %}