{% extends "auctions/layout.html" %}

{% load static %}

{% block title %} Categories {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'auctions/listing.css' %}" type="text/css">
{% endblock %}

{% block body %}
        <h2>{{pick}}</h2>
        <br>

    <!-- TODO -->
        <section class="main"> 
            {% for category, length in categories %}
                <div class="row">   
                    <div class="col-sm"><a href="{% url 'category' category.category %}">{{category.category}}</a></div>
                    <div class="col-sm">{{length}}</div>
                </div>
                <hr>
            {% empty %}
                No Active Categories
            {% endfor %}
        </section>
    
{% endblock %}