{% extends "auctions/layout.html" %}

{% load static %}

{% block title %} Create Listing {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'auctions/listing.css' %}"
{% endblock %}

{% block body %}
    <h2>Create Listing</h2>

    <!-- TODO -->
        <section class="main">
             <form action="{% url 'createList' %}" method="POST" enctype="multipart/form-data">
                 <!--Note: Image will not upload unless we use: enctype="multipart/form-data" as form attributes  -->
                {% csrf_token %}
                 {{ CreateListingForm.as_p }}
                 <br>
                 <input type="hidden" name="user_id" value="{{user.id}}">
                 <input type="submit" class="btn btn-dark">
                 <br>
                 <br>
             </form>
        </section>
    
{% endblock %}