{% extends "auctions/layout.html" %}

{% load static %}

{% block title %} Create Listing {% endblock %}

{% block head %}
    <style>
        .main{
            width: 700px;
            margin: 0px auto;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Create Listing</h2>

    <!-- TODO -->
        <section class="main">
             <form>
                 {% csrf_token %}
                 <div class="form-group">
                    <input type="text" class="form-control" id="title" placeholder="Title">
                </div>
                <div class="form-group">
                        <textarea class="form-control" id="description" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                        <input type="number" class="form-control" id="price" placeholder="Starting Bid:">
                </div>
                <div class="form-group">
                    <label for="none">
                        <input type="checkbox" class="form-control" name="category" id="none" value="none">No Category
                    </label>
                    <label for="fashion">
                        <input type="checkbox" class="form-control" name="category" id="fashion" value="fashion">Fashion
                    </label>
                    <label for="technology">
                        <input type="checkbox" class="form-control" name="category" id="technology" value="technology">Technology
                    </label>
                    <label for="food">
                        <input type="checkbox" class="form-control" name="category" id="food" value="food">No Category
                    </label>
                </div>
                <div class="form-group">
                    <label for="image">Upload Image:
                        <input type="url" class="" id="image">
                    </label>
                </div>
                 
             </form>
        </section>
    
{% endblock %}