{% extends "auctions/layout.html" %}

{% load static %}

{% block title %} {{title}} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'auctions/index.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'auctions/index2.css' %}"> -->

{% endblock %}

{% block body %}
<h2>{{title}}</h2>
    <!-- TODO -->
    <section class="main">
        {% for listing in listings %}
            <section class="item-container">
                <a href="{% url 'listing' listing.id %}"><div class="for-img"><img src="{% static listing.image %}" alt="image here"></div></a> 
                    <h4 class="list-title">{{listing.title}}</h4>
                    <hr>
                        <div class="for-content">
                            <div class="price">
                                <p>${{listing.c_price}}.00</p>
                                <small>Created:<span>29/11/2020</span></small>
                            </div>
                            <div class="description">{{listing.description}}</div>
                        </div>
            </section>
        {% empty %}
            No Active Listing
        {% endfor %} 
    </section>
    <!-- <pre>
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        <hr>
        No 2...............................
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        <hr>
        No 3.........................
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
        Active
        fhfd
        dd
        rhdr
        rsh
        rhr
        rhrdh
        eregd
        dhdfhtg
        eregderge
        eg
    </pre> -->
    
{% endblock %}