{% extends "auctions/layout.html" %}

{% load static %}

{% block title %} {{listing.title}} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'auctions/listing.css' %}" type="text/css">
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="d-flex justify-content-md-between">
            <div class="p-2 align-self-center">
                <a href="{% url 'add_remove_watch' listing.id %}"><button type="button" class="btn btn-secondary">{{add_remove_watchlist}}</button></a>
            </div>
            <div class="p-2 align-self-center">
                {% if listing.user.id == user.id %}
                    <a href="{% url 'remove_listing' listing.id %}"><button type="button" class="btn btn-secondary">Remove Listing</button></a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <!-- TODO -->
    <section class="main">
        <h2 class="p-2 align-self-center">{{listing.title}}</h2>
        
        <!-- FOR IMG class="row comment" -->
        <img src="{% static listing.image %}" alt="{{listing.title}}">
        
        <h2 class="price">${{listing.c_price}}.00</h2>
        
        <label>Description:</label>
        <p class="comment desc">{{listing.description}}</p>
        
        <br>
        {% if user.is_authenticated %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ bidform }}
                    {% if error %}
                    <small>{{ error }}</small>
                    {% endif %}
                </div>
                <input type="submit"  class="btn btn-secondary" value="bid">
            </form> 
            <br>
        
            <label>Details:</label>
            <ul class="comment">
                {% if total_bid %}
                    {% if listing.highest_bidder.id == user.id %}
                        <li>{{total_bid}} bid(s) so far. </li>
                        <li>You currently have the highest bid</li>
                        <li>Your bid is the current bid</li>
                    {% else %}
                        <li>{{total_bid}} bid(s) so far. </li>
                        <li>{{listing.highest_bidder.username}} has the highest bid</li>
                        <li>{{listing.highest_bidder.username}}'s bid is the current bid</li>
                    {% endif %}
                {% else %}
                    <li>No bid(s) yet. Scroll up or <a href="#bid">click here to Bid</a></li>
                {% endif %}
                <hr>
                <li>Created by: <span style="color: blue;">{{listing.user.username }}</span></li>
                <li>Created: <span>{{listing.date.day }}/{{listing.date.month}}/{{listing.date.year }}</span></li>
                <li>Time: <span>{{listing.date.hour }}:{{listing.date.minute}}</span></li>
            </ul>
            <br>
            <h3 class="price">Comments Section</h3>
            <br>

            <form action="{% url 'comment' listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="comment" class="form-control" rows="5" placeholder="Add your Comment" maxlength="300"></textarea>
                </div>
                <input type="submit" class="btn btn-secondary">
            </form>
            <hr>
        {% else %}
            <li>Login for more Details and Bid</li>
        {% endif %}
        {% for comment in comments %}
        <div class="comment">
            <h6>{{ comment.user.username }}</h5>
            <p>{{ comment.comment }}</p>
            <br>
        </div>
        {% endfor %}

    </section>
    
{% endblock %}